opencv-python
fer
librosa
sounddevice
flask
flask-jwt-extended
flask-socketio
flask-babel
numpy
torch
transformers
spotipy
SpeechRecognition
pyttsx3
apscheduler
matplotlib
requests
aiohttp
bcrypt
pyaudio
moviepy